{% extends "default_template.html" %}
{% block content %}
                <span>To reset your access token, you need to connect with one of the games accounts currently linked to your plugin account.</span>
                <div class="button-container">
                    <a class="button" href="{{ tm2020_link }}">Connect with Trackmania 2020</a>
                    <a class="button" href="{{ mp4_link }}">Connect with ManiaPlanet</a>
                    <a class="button" href="#!">Connect with TM Turbo (SoonTM)</a>
                </div>
{% endblock content %}